In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Default_Fin.csv to Default_Fin.csv

In [ ]:
data = pd.read_csv("Default_Fin.csv")
data.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   Employed       10000 non-null  int64
 2   Bank Balance   10000 non-null  float64
 3   Annual Salary  10000 non-null  float64
 4   Defaulted?     10000 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 390.8 KB

In [ ]:
data.columns

Index(['Index', 'Employed', 'Bank Balance', 'Annual Salary', 'Defaulted?'], dtype='object')

In [ ]:
Employed = data["Employed"].value_counts() 
Employed

1    7056
0    2944
Name: Employed, dtype: int64

In [ ]:
data["Employed"].nunique()

2

In [ ]:
data["Defaulted?"].value_counts()

0    9667
1     333
Name: Defaulted?, dtype: int64

In [ ]:
data["Defaulted?"].nunique()

2

In [ ]:
data["Index"].value_counts()

2047    1
5424    1
1338    1
7481    1
5432    1
       ..
2716    1
8857    1
4759    1
6806    1
2049    1
Name: Index, Length: 10000, dtype: int64

In [ ]:
data["Index"].nunique()

10000

In [ ]:
input = data.drop(['Defaulted?','Index'], axis=1)
input

      Employed  Bank Balance  Annual Salary
0            1       8754.36      532339.56
1            0       9806.16      145273.56
2            1      12882.60      381205.68
3            1       6351.00      428453.88
4            1       9427.92      461562.00
...        ...           ...            ...
9995         1       8538.72      635908.56
9996         1       9095.52      235928.64
9997         1      10144.92      703633.92
9998         1      18828.12      440029.32
9999         0       2411.04      202355.40

[10000 rows x 3 columns]

In [ ]:
target = data["Defaulted?"]
target

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Defaulted?, Length: 10000, dtype: int64

In [ ]:
from sklearn.preprocessing import RobustScaler
input[['Bank Balance','Annual Salary']] = RobustScaler().fit_transform(input[['Bank Balance','Annual Salary']])

In [ ]:
input

      Employed  Bank Balance  Annual Salary
0            1     -0.137465       0.436590
1            0     -0.009429      -0.999076
2            1      0.365067      -0.123981
3            1     -0.430027       0.051268
4            1     -0.055473       0.174069
...        ...           ...            ...
9995         1     -0.163715       0.820738
9996         1     -0.095936      -0.662828
9997         1      0.031808       1.071938
9998         1      1.088818       0.094202
9999         0     -0.909641      -0.787354

[10000 rows x 3 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input,target,test_size=0.25,random_state=42)

In [ ]:
input_array = np.array(input)
target_array = np.array(target)
input_array.shape , target_array.shape

((10000, 3), (10000,))

In [ ]:
x_train_array = np.array(x_train)
y_train_array = np.array(y_train)
x_test_array = np.array(x_test)
y_test_array = np.array(y_test)
x_train_array.shape , y_train_array.shape , x_test_array.shape , y_test_array.shape

((7500, 3), (7500,), (2500, 3), (2500,))

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout

In [ ]:
model = Sequential([
                    Dense(64, activation='relu', input_shape=[3]),
                    BatchNormalization(),
                    Dropout(0.3),

                    Dense(128, activation='relu'),
                    BatchNormalization(),
                    Dropout(0.3),

                    Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 64)                256
_________________________________________________________________
batch_normalization_14 (Batc (None, 64)                256
_________________________________________________________________
dropout_14 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_22 (Dense)             (None, 128)               8320
_________________________________________________________________
batch_normalization_15 (Batc (None, 128)               512
_________________________________________________________________
dropout_15 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 129
=================================================================
Total params: 9,473
Trainable params: 9,089
Non-trainable params: 384
_________________________________________________________________

In [ ]:
model.fit(
    x=x_train_array,
    y=y_train_array,
    batch_size=100,
    epochs=5,
    validation_data=(x_test_array,y_test_array)
)

Epoch 1/5
75/75 [==============================] - 1s 5ms/step - loss: 0.0882 - accuracy: 0.9691 - val_loss: 0.0819 - val_accuracy: 0.9720
Epoch 2/5
75/75 [==============================] - 0s 4ms/step - loss: 0.0871 - accuracy: 0.9711 - val_loss: 0.0822 - val_accuracy: 0.9724
Epoch 3/5
75/75 [==============================] - 0s 4ms/step - loss: 0.0855 - accuracy: 0.9705 - val_loss: 0.0823 - val_accuracy: 0.9716
Epoch 4/5
75/75 [==============================] - 0s 4ms/step - loss: 0.0855 - accuracy: 0.9719 - val_loss: 0.0827 - val_accuracy: 0.9712
Epoch 5/5
75/75 [==============================] - 0s 4ms/step - loss: 0.0847 - accuracy: 0.9723 - val_loss: 0.0818 - val_accuracy: 0.9724

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
for k in range(2,21):
    KNN=KNeighborsClassifier(n_neighbors=k)
    KNN.fit(x_train_array,y_train_array)
    
    print("Score for k=",k,"is,",KNN.score(x_test_array,y_test_array))

Score for k= 2 is, 0.9664
Score for k= 3 is, 0.9656
Score for k= 4 is, 0.97
Score for k= 5 is, 0.9688
Score for k= 6 is, 0.9708
Score for k= 7 is, 0.9704
Score for k= 8 is, 0.9716
Score for k= 9 is, 0.9716
Score for k= 10 is, 0.9716
Score for k= 11 is, 0.9716
Score for k= 12 is, 0.9716
Score for k= 13 is, 0.9716
Score for k= 14 is, 0.9716
Score for k= 15 is, 0.9708
Score for k= 16 is, 0.9716
Score for k= 17 is, 0.9728
Score for k= 18 is, 0.972
Score for k= 19 is, 0.9728
Score for k= 20 is, 0.9728

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gbrt = GradientBoostingClassifier(random_state = 42, learning_rate = 0.05, max_depth=5)
gbrt.fit(x_train_array, y_train_array)

gbrt.score(x_test_array, y_test_array)

0.9688

In [ ]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression(max_iter=4000)
LR.fit(x_train_array,y_train_array)
print(LR.score(x_test_array,y_test_array))

0.9732